{% extends 'dashboard/dashboard.html' %}
{% block body %}

<main class="mt-5 pt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 mb-3">
                <div class="card">
                    <div class="card-header">
                        <span><i class="me-2"></i></span> Edit Post
                    </div>
                    <div class="card-body">
                        <form action="/edit/{{get_post.sno}}" method="post">
                            <div class="form-floating mb-3">
                                <input name="author" type="text" class="form-control" id="floatingInput1"
                                    placeholder="author" value="{{get_post.author}}">
                                <label for="floatingInput1">Author</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input name="title" type="text" class="form-control" id="floatingInput2"
                                    placeholder="title" value="{{get_post.title}}">
                                <label for="floatingInput2">Title</label>
                            </div>
                            <div class="form-floating mb-3">
                                <textarea class="form-control" placeholder="Content" id="floatingTextarea2" style="height: 200px" name="content"></textarea>
                                <label for="floatingTextarea2">Content</label>
                              </div>
                            <div class="form-floating mb-3">
                                <input name="slug" type="text" class="form-control" id="floatingInput4"
                                    placeholder="slug" value="{{get_post.slug}}">
                                <label for="floatingInput4">Slug</label>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <figure class="figure">
                                        <img src="{{ url_for('static',filename='img/2.jpg') }}"
                                            class="figure-img img-fluid rounded border" alt="..." height="300">
                                        <figcaption class="figure-caption">Featured Image</figcaption>
                                    </figure>
                                </div>
                                <div class="col-md-6 d-flex justify-content-center align-items-center border"
                                    style="height: 304px !important;">
                                    <figure class="figure">
                                        <div class="input-group mb-3">
                                            <input type="file" class="form-control" id="inputGroupFile01" name="thumbnail">
                                        </div>
                                        <figcaption class="figure-caption">Upload <i class="fa-solid fa-cloud-arrow-up"></i> Featured Image</figcaption>
                                    </figure>
                                </div>
                            </div>
                            <a href=""><button class="btn btn-sm btn-primary" type="submit"><i class="fa-solid fa-floppy-disk"></i> save changes</button></a>
                            <a href="/post/{{get_post.sno}}"><button class="btn btn-sm btn-dark" type="button"><i class="fa-solid fa-eye"></i> Preview</button></a>
                        </form>



                        <form action="/uploader" method="post" enctype="multipart/form-data">
                            <h3><b>Upload A File</b></h3>
                            <input type="file" name="file" class="form-control">
                            <a href=""><button class="btn btn-sm btn-primary" type="submit">submit</button></a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock body %}