{% extends 'dashboard/dashboard.html' %}

{% block body %}
<main class="mt-5 pt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 mb-3">
                <div class="card">
                    <div class="card-header">
                        <span><i class="bi bi-table me-2"></i></span> Data Table
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example" class="table table-striped data-table" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>sno</th>
                                        <th>Author</th>
                                        <th>Title</th>
                                        <th>Publish Date</th>
                                        <th>Slug</th>
                                        <th>Image</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                        <th>Preview</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in posts %}
                                    <tr>
                                        <td>{{i.sno}}</td>
                                        <td>{{i.title}}</td>
                                        <td>{{i.author}}</td>
                                        <td>{{i.date}}</td>
                                        <td>{{i.slug}}</td>
                                        <td>{{i.image}}</td>
                                        <td>
                                            <a href="/edit/{{i.sno}}"><button class="btn btn-sm btn-success">Edit</button></a>
                                        </td>
                                        <td>
                                            <a href="/delete/{{i.sno}}"><button class="btn btn-sm btn-danger">Delete</button></a>
                                        </td>
                                        <td>
                                            <a href="/post/{{i.slug}}"><button class="btn btn-sm btn-dark">Preview</button></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock body %}