<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css' rel='stylesheet'
        integrity='sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN' crossorigin='anonymous'>
</head>

<body>
    <div class="container-fluid"
        style="height: 100vh;width: 100vw;display: flex;justify-content: center;align-items: center;">
        <div class="container" style="height: 80%;">
            <div class="card p-3" style="height: 100%;">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Records</a>
                    </li>
                    {% for Employee in Employees %}
                    {% if forloop.first %}
                    <li class="nav-item">
                        <button type="button" class="btn btn-white border-0 text-primary nav-link"
                            data-bs-toggle="modal" data-bs-target="#exampleModal-{{forloop.counter}}">
                            Add New Record
                        </button>
                    </li>
                    {% endif %}
                    {% endfor%}
                </ul>

                <div class="data p-3">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Email Address</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for Employee in Employees %}
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td>{{Employee.db_fname}}</td>
                                <td>{{Employee.db_lname}}</td>
                                <td>{{Employee.db_email}}</td>
                                <td><button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal-{{forloop.counter}}">
                                        Edit
                                    </button></td>
                                <td><button class="btn btn-danger">Delete</button></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>


    <!-- Modal -->
    {% for Employee in Employees %}
    <div class="modal fade" id="exampleModal-{{forloop.counter}}" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Employee Records</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{% url 'Add_New' %}" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput1" placeholder="First"
                                name="fname_form" value="{{Employee.db_fname}}">
                            <label for="floatingInput1">First Name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput2" placeholder="last"
                                name="lname_form" value="{{Employee.db_lname}}">
                            <label for="floatingInput2">Last Name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingInput3" placeholder="Email"
                                name="email_form" value="{{Employee.db_email}}">
                            <label for="floatingInput3">Email Address</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save Record</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</body>
<script src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js'
    integrity='sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL'
    crossorigin='anonymous'></script>

</html>