<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>

  <body>
    <h1>Group Name : {{groupname}}</h1>
    <textarea name="" id="chat-log" cols="93" rows="10"></textarea> <br> <br>
    <input type="text" id="chat-message-input" size="100" ><br> <br>
    <input type="button" value="send" id="chat-message-submit">
    {{groupname|json_script:"group-name"}}
  </body>
  
</html>
