<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>Upload Details</h1>
    <form action="{% url 'normalupload' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Name">
        <input type="integer" name="age" placeholder="Age">
        <input type="file" name="myfile">
        <input type="submit" value="submit">
    </form>

    <div class="row">
       {% for i in allPosts %}
       <div class="col-4">
        <img src="{{i.image}}" alt="not found" style="height:300px;width:500px;">
        <h2>{{i.name}}</h2>
        <h2>{{i.age}}</h2>
       </div>
       {% endfor %} 
    </div>
    
</body>

</html>