<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
</head>

<body>
    <div class="container-fluid bg-dark d-flex flex-nowrap align-items-center" style="height: 100vh">
        <div class="container">
            <form action="" class="col-md-6 mx-auto" id="myform">
                <div class="d-flex flex-nowrap align-items-center justify-content-between">
                    <h3 class="text-white">
                        <b>Chat<span class="text-primary">Box</span></b>
                    </h3>
                    <small class="text-white text-capitalize"><b>Room ID : {{roomname}}</b></small>
                </div>
                <textarea id="chatArea" class="form-control border border-primary" rows="15" value="Hello ji"
                    readonly></textarea>
                <div class="d-flex flex-nowrap my-3">
                    <input type="text" id="chatInput" class="form-control rounded-start-pill ps-4"
                        placeholder="Leave Message here..." />
                    <button id="chatBtn" type="submit"
                        class="btn btn-primary rounded-0 d-flex flex-nowrap align-items-center rounded-end-pill gap-2">
                        Send
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-send" viewBox="0 0 16 16" style="margin-top: 3px">
                            <path
                                d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .540.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z" />
                        </svg>
                    </button>
                </div>
            </form>
        </div>
    </div>
    {{roomname|json_script:"room-name"}} {{username|json_script:"user-name"}}
    <script>
        // Getting Roomname ----------------------------------
        const roomName = JSON.parse(
            document.getElementById("room-name").textContent
        );
        console.log("Group Name", roomName);
        // Getting Username ----------------------------------
        const userName = JSON.parse(
            document.getElementById("user-name").textContent
        );
        console.log("User Name", userName);

        // Socket Creation -------------------------------------
        const mysocket = new WebSocket(
            `ws://${window.location.host}/ws/sc/${roomName}/${userName}/`
        );
        mysocket.onopen = function (e) {
            console.warn("Websocket Connection Open...");
            // mysocket.send('Hi,from client')
        };

        mysocket.onmessage = function (e) {
            console.log("Message Received From the server...", event.data, typeof (event.data), event);
            str_to_js_Object = JSON.parse(event.data);
            const chat_Area = document.getElementById("chatArea");
            chat_Area.value += `${str_to_js_Object.user.charAt(0).toUpperCase()+str_to_js_Object.user.slice(1)} : ` + str_to_js_Object.msg + "\n";
        };

        mysocket.onclose = function (e) {
            console.warn("Websocket Connection Close...");
        };

        var btn = document.getElementById("chatBtn");
        btn.onclick = function (event) {
            event.preventDefault();
            const messageInputDom = document.getElementById("chatInput");
            const message = messageInputDom.value;
            const myObj = { msg: message, user: '' };
            mysocket.send(JSON.stringify(myObj)); // Js Object to Json String
            messageInputDom.value = ""; // once msg is send the black the input or empty it.
        };
    </script>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

</html>